version: '3'
services:
  db:
    build: ./db
    ports:
     - "5432:5432"
    environment:
     - POSTGRES_PASSWORD=password
     - POSTGRES_DB=FEC
  admin:
    image: "dpage/pgadmin4"
    ports:
      - "80:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin
      - PGADMIN_DEFAULT_PASSWORD=password